
/* 26/12 listtable */
.list_content{
  padding:0;
  margin:0 0 15px;
  max-height: 650px;
}

.list_content li{
  list-style: none;
  display: inline-block;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  border-radius: 7px;
  box-shadow: 0px 1px 1px #dadada;
  margin-bottom: 5px;
  border: solid 1px #e2e2e2;
  /* border-left: 4px solid #107cbd; */
}
.list_content li:last-child{
  margin-bottom: 0px;
}
main.l-main .content-wrapper--with-bg .page-content.bg-green{
  background:#f4f8fb;
}
.list_content .list_id{
  display: inline-block;
  padding-left: 15px;
}
.grey-font{
  color:#9e9a9a;
  font-weight: 600;
}
.dark-font{
  color:#000;
}
.info-icon i.fa{
  padding-right: 8px;
  padding-top: 3px;
  vertical-align: top;
}
.act-icon i.fa{
  font-size: 16px;
}
figure.list-pic{
  width:70px;
  height: 70px;
  margin: 0 auto 5px;
}
.img-border {
  border: 3px solid #fff;
  box-shadow: 0 0 6px #c1c1c1;
  border-radius: 100%;
  width:100%;
}
.search-form .form-control{
  border:solid 1px #ddd;
  padding:10px;
  border-radius: 5px;
  background:#fff;
}
.search-form .fa-icons{
  right:25px;
  top:10px;
}
.page-header{
  font-size: 20px;
  margin: 10px 0 5px;
  padding: 0;
  border: 0;
  color: #222;
}

.custom-scroll{
  overflow: auto;
}
::-webkit-scrollbar,
::-webkit-scrollbar  {
    width: 6px;
    height: 6px; 
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: #dee1f0;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: #68688a; 
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 768px){
  .modal-dialog.modal-lg {
    width: 900px;
    margin: 30px auto;
  }
}
.custom-modal .modal-header{
  background:#0bcca1;
  border-radius: 7px 7px 0 0;
  color:#fff;
}
.custom-modal .modal-header .close{
  outline: none;
  font-size: 25px;
  opacity: 1;
  color:#fff;
}
.custom-modal .modal-footer{
  border:0px;
  display: inline-block;
  width: 100%;
}
.image-view {
  width: 155px;
  height: 155px;
  background: #e7e7e7;
  border: dashed 1px #c7bdbd;
  display: inline-block;
  border-radius: 50%;
}
.image-view img {
  width: 100%;
  height: 100%;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.image-view .custom-file-input::before {
  font-family: FontAwesome;
  content: "\f040";
  background: #51e2c1;
  border-color: #51e2c1;
  border-radius: 50%;
  color: #fff;
  width: 35px;
  height: 35px;
  position: absolute;
  text-align: center;
  padding-top: 11px;
  left: 118px;
  bottom: 37px;
  cursor: pointer;
}
.image-view .custom-file-input:hover::before{
  background:#51e2c1;
  border-color:#51e2c1;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
.custom-file-input {
  color: transparent;
  margin: 0;
  display: inline-block !important;
}
.custom-file-input:active, input[type=file]:focus {
  outline: 0;
}
.image-view .reset-photo, 
.image-view .reset-photo:hover {
  color: #00ca9d;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.w-190{
  width:190px;
}
.pr-0{
  padding-right: 0px;
}
.pl-0{
  padding-left: 0px;
}
.fa-deleteicon{
  font-size: 60px;
  color: #ef2929;
  margin: 0 0 20px;
  text-align: center;
  width:100%;
}
.custom-modal.alert-pop .modal-header{
  background: #fff;
  border:0;
  padding: 15px 15px 0;
}
.custom-modal.alert-pop .modal-header .close{
  color:#222;
}
.alert-pop h1{
  font-size: 20px;
  margin: 15px 0 5px;
  font-weight: 600;
}

/*user management*/

.filter-form .form-control{
  border:solid 1px #ddd;
  border-radius: 5px;
  padding:0 15px;
}
.filter-form .fa-icons{
  top: 8px;
  right: 12px;
}
.custom-material .filter-form .bmd-form-group{
  padding:0;
  margin:0;
}
.student-count{
  color:#555;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 0;
}
.student-count span{
  color:#00ca9d;
  font-size: 16px;
  font-weight: 700;
}
.no-pad{
  padding:0;
}
a.site-color:hover{
  color:#1d9e74;
}
textarea{
  resize: none;
}
.bmd-form-group select{
  padding-right: 30px !important;
}
.right-content{
  width:calc(100% - 190px);
}
.mh-500{
  max-height: 470px;
}
.list_content.mh-380{
  max-height: 380px;
}
span.info-content{
  width: calc(100% - 30px);
  vertical-align: middle;
  display: inline-block;
}
.info-label{
  font-size: 14px;
  color:#999;
}
.info-label span{
  font-size: 14px;
  color:#7d7878;
  font-weight: 700;
}
.radio-wrapper .md-radiobox:first-child{
  padding:0;
}
.radio-wrapper .md-radiobox label{
  font-size: 14px;
}
.att-label{
  font-weight: 700;
}
.att-percent.progress{
  height: 15px;
  margin-bottom: 0px;
  line-height: 15px;
  width:70%;
  border-radius: 30px;
}
.att-percent .progress-bar{
  line-height: 17px;
}
.progress-bar.green{
  background-color: green;
}
.progress-bar.orange{
  background-color: orange;
}
.progress-bar.red{
  background-color: red;
}
#viewprofile .image-view{
  width:90px;
  height: 90px;
}
.w-120{
  width:120px;
}
#viewprofile .right-content{
  width: calc(100% - 130px);
}
#viewprofile h3{
  color:#222;
  margin:10px 0;
}
#viewprofile .fa.site-color{
  vertical-align: top;
}
.custom-modal .modal-content{
  background:#fff;
  box-shadow: none;
  -webkit-box-shadow:none;
  border:none;
}
.custom-modal .modal-body,
.custom-modal .modal-footer{
  background:#fff;
}
.custom-modal .modal-footer{
  border-radius: 0 0 5px 5px;
}
.notes-box{
  border:solid 1px #ddd;
  padding:15px;
  border-radius: 5px;
  line-height: 22px;
}
.att-count{
  margin-left: 20px;
  padding:5px 10px;
  background:#ec8c8c;
  color:#fff;
  border-radius: 30px;
  display: inline-block;
}
.att-count.red{
  background: red;
}
.list_content li.red{
  border-left: solid 5px red;
}
.toggle-check input:checked+.slider {
  background-color: #0bcca1;
  box-shadow: 0px 0px 5px 0px #00ca9d;
}
.toggle-check .slider:before{
  background-color: #fff;
}
.toggle-check input:checked+.slider:after,
.toggle-check .slider:after{
  color:#fff;
}
.slider{
  box-shadow: 0px 0px 5px 0px #e97286;
}
.switch.toggle-check{
  height: 22px;
  margin: 0px 0 0 20px;
  position: relative;
  top:8px;
}
.toggle-check .slider:after{
  bottom:1px;
}
.toggle-check .slider:before{
  bottom: 3.5px;
  height: 15px;
  width:15px;
}
.toggle-check .slider:after{
  font-size: 13px;
  bottom:3px;
}
.btm-content{
  border-top: solid 1px #ddd;
  margin: 0 15px;
  padding: 10px 0;
}
 
/*firstaid accordian*/
ul, ol {
  list-style: none;
  padding:0;
  margin:0;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}
#accordion1 li a:before{
  content: "\f107";
  font-family: FontAwesome;
  float: right;
  font-size: 20px;
}
#accordion1 li a.collapsed:before{
  content: "\f105";
}
#accordion1.nav>li>a,
#accordion1.nav>li>a:hover{
  background:#0bcca1;
  color:#fff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
.fa-content{
  padding:15px;
  line-height: 22px;
  box-shadow: 0px 1px 1px #dadada;
}


#example_filter:before{
  font-family: FontAwesome;
  content: "\f002";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 92%;
  z-index: 1;
  top: -1px;
}
#example_length:before{
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 59%;
  z-index: 1;
  top: -1px;
  font-size: 20px;
}
#example_length select{
  border: solid 1px #ddd;
  padding: 8px 10px;
  border-radius: 5px;
  background: #fff;
  margin:0 10px;
}



/*data table*/
.sort-table table.dataTable thead th.sorting:last-child:after,
.sort-table table.dataTable thead th.sorting_desc:last-child:after,
.sort-table table.dataTable thead th.sorting_asc:last-child:after,
.sort-table table.dataTable thead th.sorting:first-child:after,
.sort-table table.dataTable thead th.sorting_desc:first-child:after,
.sort-table table.dataTable thead th.sorting_asc:first-child:after,
.sort-table table.dataTable thead th.sorting:nth-child(4):after,
.sort-table table.dataTable thead th.sorting_desc:nth-child(4):after,
.sort-table table.dataTable thead th.sorting_asc:nth-child(4):after,
.sort-table table.dataTable thead th.sorting:nth-child(5):after,
.sort-table table.dataTable thead th.sorting_desc:nth-child(5):after,
.sort-table table.dataTable thead th.sorting_asc:nth-child(5):after{
  content:"";
}
/* .sort-table table.dataTable thead .sorting:after, 
.sort-table table.dataTable thead .sorting_asc:after, 
.sort-table table.dataTable thead .sorting_desc:after, 
.sort-table table.dataTable thead .sorting_asc_disabled:after, 
.sort-table table.dataTable thead .sorting_desc_disabled:after{
  left:8px;
  right:auto;
  font-family: FontAwesome;
  content: "\f0d7";
  color:#222;
  opacity: 1;
  bottom: 9px;
} */
.sort-table table{
  box-shadow: 0px 1px 1px #dadada;
  border-radius: 5px;
}
.sort-table thead{
  border-radius: 5px 5px 0 0;
}
.sort-table thead,
.sort-table tbody,
.sort-table thead>tr>th,
.sort-table tbody>tr>td{
  display: block;
}
.sort-table thead,
.sort-table tbody{
  padding:0 8px;
}
.sort-table tbody>tr,
.sort-table thead>tr{
  width:100%;
  display: inline-block;
}
.sort-table thead>tr>th,
.sort-table tbody>tr>td{
  float: left;
  padding: 10px !important;
}
.sort-table thead>tr>th:focus{
  outline:none;
}
.sort-table tbody>tr>td,
.sort-table thead>tr>th{
  border:0px;
}
.sort-table tbody>tr{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 1px 1px #dadada;
  margin: 5px 0;
  border: solid 1px #e2e2e2;
}
.sort-table figure.list-pic{
  width:45px;
  height: 45px;
  margin:0;
}
/* .student-table thead>tr>th:nth-child(1),
.student-table tbody>tr>td:nth-child(1){
  width:5% !important;
}
.student-table thead>tr>th:nth-child(2),
.student-table tbody>tr>td:nth-child(2){
  width:9% !important;
}
.student-table thead>tr>th:nth-child(3),
.student-table tbody>tr>td:nth-child(3){
  width:15% !important;
}
.student-table thead>tr>th:nth-child(4),
.student-table tbody>tr>td:nth-child(4){
  width:12% !important;
}
.student-table thead>tr>th:nth-child(5),
.student-table tbody>tr>td:nth-child(5){
  width:25% !important;
}
.student-table thead>tr>th:nth-child(6),
.student-table tbody>tr>td:nth-child(6){
  width:13% !important;
}
.student-table thead>tr>th:nth-child(7),
.student-table tbody>tr>td:nth-child(7){
  width:7% !important;
} */

@media only screen and (max-width: 1024px) {
.student-table thead>tr>th:nth-child(4),
.student-table tbody>tr>td:nth-child(4){
  width:20% !important;
}
.student-table thead>tr>th:nth-child(5),
.student-table tbody>tr>td:nth-child(5){
  width:12% !important;
}
.student-table thead>tr>th:nth-child(6),
.student-table tbody>tr>td:nth-child(6){
  width:10% !important;
}
.student-table thead>tr>th:nth-child(7),
.student-table tbody>tr>td:nth-child(7){
  width:10% !important;
}
}
.student-table thead>tr>th span{
  display: inline-block;
  /* padding-left: 15px; */
}
#viewprofile .modal-body{
  border-radius: 0 0 4px 4px;
}
.sort-table #example_filter input[type=search]{
  border: solid 1px #ddd;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  width:250px;
  margin-bottom: 7px;
}
.sort-table #example_filter label,
.sort-table #example_length label{
  font-size: 14px;
}
.sort-table #example_filter{
  float: right;
}
.sort-table #example_wrapper .dataTables_length{
  display: inline-block;
}
.sort-table #example_filter:before{
  font-family: FontAwesome;
  content: "\f002";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 92%;
  z-index: 1;
  top: -1px;
}
.sort-table #example_length:before{
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 59%;
  z-index: 1;
  top: -1px;
  font-size: 20px;
}
.sort-table #example_length select{
  border: solid 1px #ddd;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  margin:0 10px;
}
.sort-table #example_info{
  display: inline-block;
}
.sort-table #example_paginate{
  float: right;
  cursor: pointer;
}

.sort-table span .paginate_button {
  color: #348a83;
  font-size: 14px;
  padding: 5px 10px;
  border: solid 1.3px #348a83;
  margin: 0 3px;
  font-weight: 700;
}
.sort-table .paginate_button.current{
  background:#348a83;
  color:#fff;
}
.dataTable tr td:first-child, .dataTable tr td:last-child,
.dataTable tr th:first-child, .dataTable tr th:last-child
{text-align: center;}
.clearfix{clear: both;}



/* reports */
.custom-charts .highcharts-credits,
/* .custom-charts .highcharts-button-symbol, 
.custom-charts .highcharts-data-label,*/
.custom-charts .highcharts-tick,
.highcharts-data-label-color-undefined,
.custom-charts .highcharts-grid-line{
  display: none;
}

#absence-chart .highcharts-color-2,
#absence-chart .highcharts-legend-item.highcharts-color-2 .highcharts-point{
  fill: rgb(124, 181, 236) !important;
}