@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
   /* background-color: #f4f8fb;
    */
    background: #FCFCFC;
    color: #102c58;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.loaderDiv {
    position: fixed;
    /*background: rgba(0,0,0, 0.1);*/
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.loaderDiv .fa-spinner{
    font-size: 80px;
    text-align: center;
    width: 100%;
    margin-top: 19%;
}
.is-loading {
   
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
}
.is-loading {
    z-index: 4000;
    position: absolute;
    margin-top: 15%;
    margin-left: 50%;
    border: 16px solid #00ca9d;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
::-webkit-input-placeholder {
    color: #c3c3c3;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
.u-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.u-input {
    outline: 0;
    border: 1px solid #d0d0d0;
    padding: 5px 10px;
    height: 35px;
    font-size: 12px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
}
.m-badge {
    font-size: 10px;
    font-weight: 700;
    min-width: 17px;
    padding: 5px 4px;
    border-radius: 100px;
    display: block;
    line-height: 0.7;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f91605;
}
.m-badge--header-icon {
    position: absolute;
    bottom: -9px;
}
.tooltip {
    width: 120px;
}
.tooltip-inner {
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    background-color: #051835;
    font-size: 12px;
    border-radius: 3px;
}
.tooltip-arrow {
    border-right-color: #051835 !important;
}
.hamburger-toggle {
    position: relative;
    padding: 0;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    order: 1;
}
.hamburger-toggle [class*="bar-"] {
    display: block;
    background: #fff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    border-radius: 2px;
    height: 2px;
    width: 24px;
    margin-bottom: 4px;
}
.hamburger-toggle [class*="bar-"]:nth-child(2) {
    width: 18px;
}
.hamburger-toggle [class*="bar-"]:last-child {
    margin-bottom: 0;
    width: 12px;
}
.hamburger-toggle.is-opened {
    left: 3px;
}
.hamburger-toggle.is-opened [class*="bar-"] {
    background: #fff;
}
.hamburger-toggle.is-opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}
.hamburger-toggle.is-opened .bar-mid {
    opacity: 0;
}
.hamburger-toggle.is-opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
    width: 24px;
}
.hamburger-toggle:focus {
    outline-width: 0;
}
.hamburger-toggle:hover [class*="bar-"] {
    background: #f5642d;
}
.header-icons-group {
    display: flex;
    order: 3;
    margin-left: auto;
    height: 100%;
   /* border-left: 1px solid #cccccc;
    */
}
.header-icons-group .m-header-icon:last-child {
    border-right: 0;
}
.m-header-icon {
    position: relative;
    display: flex;
    float: left;
    width: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
   /* border-right: 1px solid #cccccc;
    */
}
.login{
   width: auto;
    padding: 0 10px;
}
.login a.dropdown-toggle{
    height: 60px;
    display: inline-block;
    padding-top: 12px;
    color: #fff;
}
.login a:hover{
   text-decoration: none;
}
.login .dropdown-menu{
   right: 5px;
    top:55px;
   left: auto;
}
.m-header-icon i {
    font-size: 18px;
    line-height: 40px;
}
.user-img img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin: 0 5px;
    border: 2px solid #ececec;
}
.m-header-icon--in-circle {
    border: 1px solid #d0d0d0;
    border-radius: 100%;
}
/* .m-header-icon:hover i {
    color: #f5642d;
}
*/
.l-header {
    padding-left: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background: #ffffff;
    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    -ms-transition: padding 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
}
.l-header_inner {
    height: 100%;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: stretch;
   /* border-color: #cccccc;
    */
    background: #0f7bc0;
   /* Old browsers */
    background: -moz-linear-gradient(left, #0f7bc0 0%, #26a264 100%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f7bc0 0%,#26a264 100%);
   /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f7bc0 0%,#26a264 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f7bc0', endColorstr='#26a264',GradientType=1 );
   /* IE6-9 */
}
.sidebar-is-expanded .l-header {
    padding-left: 230px;
}
.m-search {
    display: flex;
    height: 100%;
    width: 350px;
}
.m-search_input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0;
    flex-basis: 100%;
    height: 100%;
    border: 0;
    font-size: 14px;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.m-dropdown {
    opacity: 0;
    text-align: left;
    position: absolute;
    flex-direction: column;
    display: none;
    width: 300px;
    top: 30px;
    right: -40px;
    background-color: #fff;
    overflow: hidden;
    min-height: 300px;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 5px 14px -1px #cecece;
    -moz-box-shadow: 0px 5px 14px -1px #cecece;
    box-shadow: 0px 5px 14px -1px #cecece;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.l-sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
   /* background: #00ca9d;
    */
    background: #fff;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.l-sidebar .logo {
    width: 100%;
    height: 60px;
    background-color: #0b4f7b;
}
.l-sidebar .logo .logo_txt {
    font-size: 26px;
    height: 60px;
    display: flex;
    line-height: 1;
    color: #fff;
   /* text-align: center;
    */
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
}
.logo .m-menu-item_title{
   padding: 10px 0 0 15px;
}
.logo .logo_txt img{
   height: 44px;
}
.l-sidebar_content {
    height: 100%;
    position: relative;
}
.sidebar-is-expanded .l-sidebar {
    width: 240px;
}
.m-menu > ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.m-menu > ul .m-menu_item {
    color: #3a3a3a;
    max-width: 100%;
    overflow: hidden;
}
.m-menu > ul .m-menu_item_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 45px;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.m-menu > ul .m-menu_item_inner:before {
    position: absolute;
    content: " ";
    height: 0;
    width: 2px;
    left: 0;
    top: 50%;
    margin-top: -18px;    
   /* background-color: #00ca9d;
    */
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
    .m-menu > ul .m-menu_item.is-active .m-menu_item_inner {
        /* border-left-color: #5f9cfd;
    */
        /* background-color: #f5f7f9;*/
        display: flex !important; /* Added by Arun for side menu */
    }
.m-menu > ul .m-menu_item.is-active .m-menu_item_inner i {
    color: #00ca9d;
}
.m-menu > ul .m-menu_item.is-active .m-menu_item_inner .m-menu-item_title span {
    color: #00ca9d;
}
.m-menu > ul .m-menu_item.is-active .sub-menu  span {
    color: #3D3D3D !important;
    padding-left: 10px;
}
.m-menu > ul .m-menu_item.is-active .sub-menu.active span{
    padding-left: 0px;
}
.m-menu > ul .m-menu_item.is-active .sub-menu.active {
     background: #E7FBF6;
    border: 2px red;
    border-left: solid 20px #00CA9D !important;
}
.m-menu > ul .m-menu_item.is-active .m-menu_item_inner:before {
    height: 36px;
    opacity: 1;
}
/* .m-menu > ul .m-menu_item:not(.is-active):hover .m-menu_item_inner {
    background-color: #f5642d;
    border-left-color: #f5642d;
}
*/
        .m-menu > ul .m-menu_item span {
    flex: 0 0 60px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.m-menu > ul .m-menu_item .m-menu-item_expand {
    position: relative;
    left: 100px;
    padding-right: 20px;
    margin-left: auto;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.sidebar-is-expanded .m-menu > ul .m-menu_item .m-menu-item_expand {
    left: 0px;
}
.m-menu > ul .m-menu_item .m-menu-item_title, .logo .m-menu-item_title{
    flex-basis: 100%;
    padding-right: 10px;
    position: relative;
    left: 220px;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
/* .logo .logo_txt{
    width: 70px;
    margin-top: 17px;
}
.sidebar-is-expanded .logo .logo_txt{
    width: auto;
    margin-top: inherit;
}
*/
.m-menu > ul .m-menu_item .m-menu-item_title span {
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sidebar-is-expanded .m-menu > ul .m-menu_item .m-menu-item_title, .sidebar-is-expanded .logo .m-menu-item_title {
    left: 0px;
    opacity: 1;
}
.m-menu > ul .m-menu_item .m-menu_submenu {
    background-color: #051835;
    padding: 15px;
    font-size: 12px;
    display: none;
}
.m-menu > ul .m-menu_item .m-menu_submenu li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    border-color: #072048;
    color: #5f9cfd;
}
.m-menu > ul .m-menu_item .m-menu_submenu li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}
main.l-main {
    width: 100%;
    padding: 60px 0 0 70px;
    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    -ms-transition: padding 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
}
main.l-main .content-wrapper {
padding:0px 0px 0px 10px;
}
main.l-main .content-wrapper .page-content {
    border-top: 1px solid #d0d0d0;
    padding-top: 25px;
    display: inline-block;
    width: 100%;
}
main.l-main .content-wrapper--with-bg .page-content {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding:8px 8px;
}
main.l-main .page-title {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}
.sidebar-is-expanded main.l-main {
    padding-left: 240px;
}
.select-icon {
    position: relative;
}
.select-icon .fa-angle-down, .search-icon .fa-search {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 18px;
}
.custom-material .bmd-form-group.is-filled .bmd-label-floating{
   color: #00ca9d;
}
.custom-material .bmd-form-group.is-focused .bmd-label-floating{
   color: #00ca9d;
}
.portlet-title {
    padding: 0;
    min-height: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}
.caption {
    float: left;
    font-size: 18px;
    line-height: 18px;
}
.portlet-title > .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    border: 0;
}
.portlet li.active a, .portlet li.active a:focus, .portlet li.active a:hover, .portlet li a:focus, .portlet li a:hover{
    background: #00ca9d;
    color: #fff;
    border-radius: 20px;
    padding: 3px 15px;
    border: 0;
}
.portlet li a{
   padding: 5px 20px;
   border: 0;
}
.custom-material .bmd-form-group .form-control{
   line-height: inherit;
}
/* .loginpage{
   max-width: 800px;
    margin: 0 auto;
}
*/
.loginpage{
   width:100%;
    height: 100%;
}
.login-img{
    width: 50%;
    height: 100%;
    background: #00ca9d url(../images/school-img3.jpg);
    background-size: cover;
    background-position: 50% 50%;
    float: left;
}
.login-form{
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
}
.login-content {
    width: 320px;
    position: absolute;
    left: calc(50% - 160px);
    right: 0;
    top: calc(50% - 220px);
   /* border: 1px solid #d3d3d4;
    */
    padding: 15px;
    border-radius: 5px;
}
.img_logo{
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 110px;
    background: #dfe6ea;
    margin: 0 auto;
}
.table-responsive .table{
   margin-bottom: 0;
}
.person-role{
    border-radius: 12px;
    padding: 2px 9px;
    font-size: 12px;
    background: #107cbd;
    color: #fff;
}
.list_content .badge{
   font-weight: normal;
}
.fa-map-marker:before{
   font-size: 16px;
}
.list_content .act-icon .fa{
  font-size: 18px;
  margin-right: 10px;
}
.list_content .act-icon a:last-child .fa{
   margin-right: 0;
}
.table>tbody>tr>td{
   padding: 10px 8px;
}
.table thead{
   /* background: #d0d8da; */
   background: #f0f4f5;
}
.l-sidebar_content.custom-scroll{
   padding-right: 0;
}
.left-icon {
    width: 24px;
    height: 24px;
    background: url("../images/analytics.svg") no-repeat center
}
.i_report{
   background-image:url("../images/analytics.svg");
}
.i_studentsaddedordeleted {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/icons/Studentsadded-deleted.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.view-list-icon {
    top: 392px;
    left: 264px;
    width: 16px;
    height: 11px;
    background: transparent url('../images/icons/eye.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.view-list {
    top: 385px;
    left: 240px;
    width: 104px;
    height: 24px;
    background: #ECF9F6 0% 0% no-repeat padding-box;
    border: 1px solid #00CA9D;
    border-radius: 2px;
    opacity: 1;
}
.child-summary-photo {
    top: 250px;
    left: 312px;
    width: 176px;
    height: 176px;
    opacity: 1;
}
.i_healthreasoncount {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/icons/Health.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.resourese-reason{
    position: absolute;
    top: 0px;
    margin-left: 80px;
    color: #000;
}
.i_nonhealthreasoncount {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/icons/Group223.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_absencecount {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/absentcount.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_presentcount {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/presentcount.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_unknownreasoncount {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/unknownreasoncount.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_mostcommonreason {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/icons/mostcommon.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_topreason {
    top: 329px;
    left: 301px;
    width: 54px;
    height: 60px;
    background: transparent url("../images/icons/mostcommon.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
}
.i_configure_student {
    background-image: url("../images/social.png");
}
.i_student{
   background-image:url("../images/children-management.png");
}
.i_absence{
   background-image:url("../images/files-and-folders.png");
}
.i_academic{
   background-image:url("../images/academic.svg");
}
.i_calendar {
    background-image: url("../images/calendar.png");
}
.i_user{
   background-image:url("../images/people.png");
}
.i_class{
   background-image:url("../images/classroom.png");
}
.i_school{
   background-image:url("../images/settings.png");
}
.i_assignTeacher{
   background-image:url("../images/social.png");
}
.i_assignAdmin{
   background-image:url("../images/assign-admin.png");
}
.i_reason{
   background-image:url("../images/reason.png");
}
.i_feedback{
   background-image:url("../images/feedback.png");
}
.i_firstAid{
   background-image:url("../images/first_aid.png");
}
.i_mapView{
   background-image:url("../images/maps-and-location.png");
}
.i_staffattendance{ background-image:url("../images/analytics-1.png");}
.i_holidaymgmt{background-image:url("../images/interface.png");}
li.is-active .i_report {
    background-image: url("../images/analytics-2.png");
}
li.is-active .i_configure_student {
    background-image: url("../images/social-2.png");
}
li.is-active .i_admin {
    background-image: url("../images/report-active.png");
}
li.is-active .i_student{
   background-image:url("../images/children-management-active.png");
}
li.is-active .i_absence{
   background-image:url("../images/files-and-folders-1.png");
}
li.is-active .i_academic{
   background-image:url("../images/academic.svg");
}
li.is-active .i_calendar {
    background-image: url("../images/calendar-1.png");
}
li.is-active .i_user{
   background-image:url("../images/people-1.png");
}
li.is-active .i_class{
   background-image:url("../images/classroom-1.png");
}
li.is-active .i_school{
   background-image:url("../images/settings-1.png");
}
li.is-active .i_ {
    background-image: url("../images/academic.svg");
}
li.is-active .i_assignTeacher{
   background-image:url("../images/social-2.png");
}
li.is-active .i_staffattendance{ background-image:url("../images/analytics-3.png");}
li.is-active .i_holidaymgmt{background-image:url("../images/interface-1.png");}
li.is-active .i_assignAdmin{
   background-image:url("../images/assign-admin-active.png");
}
li.is-active .i_reason{
   background-image:url("../images/reason-active.png");
}
li.is-active .i_feedback{
   background-image:url("../images/feedback-active.png");
}
li.is-active .i_firstAid{
   background-image:url("../images/first_aid-active.png");
}
li.is-active .i_mapView{
   background-image:url("../images/maps-and-location-1.png");
}
/* .address-info, .notes-info{
   position: absolute;
}
*/
.l-sidebar_content a{
   color:#3a3a3a;
    display: block;
}

.list_content .address-info, .list_content .notes-info{
    width: calc(100% - 30px);
    vertical-align: middle;
    display: inline-block;
}
.alert{
   position: fixed;
    top:10px;
    right:10px;
    z-index: 999;
    width: 600px;
}
.required:after {
    content:" *";
    color: red;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-menu .is-active {
    width: 82px;
    height: 40px;
    background: #00CA9D 0% 0% no-repeat padding-box;
    border: 1px solid #00CA9D;
    opacity: 1;
}
.panel-body {
    background-color: transparent;
    border: 1px solid #00CA9D;
    border-radius: 5px;
    min-height:275px;
}
.panel h4{margin:5px;font-size: 16px;}
.color_date{
    color: #00ca9d;
}
.panel-menu {
    height: 40px;
    border-radius: 2px 0px 0px 2px;
    opacity: 1;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
/* Rounded sliders */
.radio-round {
    border-radius: 34px;
}

    .radio-round:before {
        border-radius: 50%;
    }

.switch {
position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
/* iPads (landscape) ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    ul.user-management li>div:first-child{
        min-width: 100px !important;
   }
    ul.user-management li>div:nth-child(2){
        max-width: 78%;
   }
    ul.user-management li>div:nth-child(3){
        min-width: 88px;
   }
}


.mcus-search .btn {
  min-width: 40px;
  border-radius: 0;
  padding: 7px 12px 6px;
}
.mcus-search .form-control{ border: 1px solid #ccc;padding: 10px;}
.dataTables_paginate{
  border: 1px solid #ccc;
  padding: 0 !important;
  margin-top: 15px;
  border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{border: 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #fff;
    border: 0;
    color: #353535 !important;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #0f7cbd;
  color: #fff !important;
  border: 1px solid #0f7cbd;
  border-radius: 0;
}
.paginate_button span a{background: #fff; border: 0;}
.dataTables_length{margin-bottom: 8px;}
.dataTables_length select{
  padding: 5px 8px;
    min-width: 70px;
    margin: 0 10px;
}
.dataTables_filter input{ padding:8px 10px;border-radius: 5px;box-shadow: none; border: 1px solid #a9a9a9;min-width: 250px;}
.dataTable{margin-top: 10px;}
table.dataTable.no-footer,
table.dataTable thead th, 
table.dataTable thead td {
  border-bottom: 1px solid #b7b4b4;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fdfdfd;
}
.table>thead>tr>th {border-bottom: 1px solid #ddd;}
.dataTables_wrapper .dataTables_info {padding-top: 25px;}
.user_data .remove-btn{min-width: 30px;}

.segmented-progress {
    top: 127px;
    left: 129px;
    width: 1221px;
    height: 1px;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    opacity: 1;
}
    .segmented-progress .segment-save {
        top: 126px;
        left: 129px;
        width: 90px;
        height: 2px;
        background: #E41057 0% 0% no-repeat padding-box;
        opacity: 1;
    }
.report-date {
    top: 130px;
    left: 271px;
    width: 222px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00CA9D;
    border-radius: 2px;
    opacity: 1;
}
    .report-date .left {
        top: 130px;
        left: 271px;
        width: 46px;
        height: 40px;
        background: #00CA9D 0% 0% no-repeat padding-box;
        border-radius: 2px 0px 0px 2px;
        opacity: 1;
    }

    .report-date .inner {
        top: 139px;
        left: 333px;
        width: 98px;
        height: 23px;
        text-align: left;
        font: Regular 16px/22px Poppins;
        letter-spacing: 0;
        color: #3D3D3D;
        opacity: 1;
    }
.user-tbl tr th:nth-child(1), .user-tbl tr td:nth-child(1){width:5%;}
.user-tbl tr th:nth-child(2), .user-tbl tr td:nth-child(2){width:80px;}
.user-tbl tr th:nth-child(3), .user-tbl tr td:nth-child(3){width:120px;}
.user-tbl tr th:nth-child(4), .user-tbl tr td:nth-child(4){width:100px;}
.user-tbl tr th:nth-child(5), .user-tbl tr td:nth-child(5){width:150px;}
.user-tbl tr th:nth-child(6), .user-tbl tr td:nth-child(6){width:28%;}
.user-tbl tr th:last-child, .user-tbl tr td:last-child{width:8%;}
.modal .fa{margin-top: 3px; min-width: 28px}

.invalid input{ border-bottom: 1px solid red !important;}
.gridview-tbl th, .gridview-tbl td{text-align: center;}
.gridview-tbl th:nth-child(2), .gridview-tbl td:nth-child(2){text-align: left;}
.report-leftsec .progress { height: 12px;box-shadow: none; background-color: #ced0d2;}
.report-leftsec  .progress-bar{font-size: 11px; line-height: 12px;}

.gridview-tbl td.holiday {
    background: #c1c1c1 !important;
    color: #c1c1c1;
}
.gridview-tbl .present{background: #7bbf7b; color: #fff}
.gridview-tbl .absent{background: #ff6c6c; color: #fff;}
.gridview-tbl .sick_leave{background: #f39c12;color: #fff;}
.gridview-tbl .informed_leave{background: #03a9f4;color: #fff;}
.gridview-tbl .unknown_leave{background: rebeccapurple;color: #fff;}
.gridview-tbl-info li{padding: 0 15px;}
.gridview-tbl-info li span{
    width: auto;
    height: 17px;
    background: #fff;
    display: inline-block;
    margin-right: 5px;
}
.gridview-tbl-info li span.present{background: #7bbf7b;}
.gridview-tbl-info li span.absent{background: #ff6c6c;}
.gridview-tbl-info li span.sick_leave{background:#f39c12;}
.gridview-tbl-info li span.informed_leave{background: #03a9f4;}
.gridview-tbl-info li span.unknown_leave{background: rebeccapurple;}

    .gridview-tbl-info li span.legend {
        background: #fff;
        color: #908b8b;
        font-weight: bold;
    }

.report-leftsec .Health-Reasons .badge{
    font-weight: normal;
    padding:4px 15px; 
    /* background: #3cbb20; */
    position: relative;
    margin-right: 16px;
    margin-top: 10px;
}
.report-leftsec .Health-Reasons .badge .badge
{
    position: absolute;
    top: -6px;
    padding: 4px;
    right: -14px;
    margin: 0;
    min-width: 22px;
}
/* .report-leftsec .Health-Reasons .nonhealth .badge{background: #107cbc;} */
.report-leftsec .stats span img {width:auto; max-height: 22px; display: none;}


.dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.dates strong,
.stats strong{
    display: block;
    color: #8E8E8E;
    font-size: 13px;
    font-weight: 500;
}
.dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.stats {
    border-top: 1px solid #d0d0d0;
    font-size: 20px;
    color: #3D3D3D;
    font-weight: 400;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0px 1px 5px #0000000A;
    border: 1px solid #E1E1E1;
    min-height: 93px;
}
.stats div{
	/*border-right: 1px solid #d0d0d0;*/
     width: 22.33333%;
    float: left;
    text-align: center;
    padding: 10px 0px;
    height: 70px;
    margin-top: 9px;

}

.stats div:nth-of-type(3){border:none;}

.inner-tbl{width:100%;}
.inner-tbl th, .inner-tbl td{ padding: 10px 8px; min-width: 32px;}

.highcharts-menu-item:nth-child(1),
.highcharts-menu-item:nth-child(5),
.highcharts-menu-item:nth-last-child(1),
.highcharts-menu-item:nth-last-child(2),
.highcharts-menu hr{
    display: none;
}

table.dataTable thead th, table.dataTable thead td {
     border-bottom: 1px solid #b7b4b4 !important;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #adadad;
}

#dataTableAttendance, .dataTables_scrollHead, .dataTables_scrollHeadInner, .dataTables_scrollHeadInner table.dataTable {
    width: 100% !important;
}

#tblhead th {
   width: 25% !important;
}
.DTFC_ScrollWrapper{display:inline-block; width:100%;min-height:200px;}

.list-group-item span:first-child {
    display: inline-block;
    width: calc(100% - 70px);
}
.notification-count {
    top: 10px;
    left: 43px;
    max-width: 24px;
    overflow: hidden;
    /* height: 15px; */
    background: #FF0060;
    opacity: 1;
    position: absolute;
    /* top: 15px; */
    /* right: 10px; */
    padding: 6px;
    border-radius: 50%;
    line-height: 5px;
    color: #fff;
}
    .notification-count span {
        top: 13px;
        left: 1171px;
        width: 4px;
        height: 10px;
        text-align: left;
        font: Semibold 8px/20px Source Sans Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
.bellicon {
    width: 24px;
    height: 24px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    left: 30px;
    top: 20px;
}
.notification-dropdown-menu {
    top: 60px;
    left: 0px;
    will-change: top, left;
}
.notification-panel ul {
    top: 30px;
    left: -310px;
    background: #ffffff;
    box-shadow: 3px 5px 12px #45414E14;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    opacity: 1;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
    .notification-panel .header {
        top: 47px;
        left: 954px;
        width: 224px;
        height: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
    }
    .notification-panel .footer {
        top: 210px;
        left: 954px;
        width: 224px;
        height: 30px;
        background: #F2F7FC 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 2px 2px;
        opacity: 1;
    }
.notification-panel .unread {
    top: 47px;
    height: 72px;
    border-radius: 2px 2px 0px 0px;
    border-left: 5px solid #00ca9d;
    border-bottom: 1px solid #e8e8e8;
    font-weight : bold;
}
.notification-ul li:hover{background: #E7FBF6;}
.notification-panel .read {
    top: 47px;
    left: 954px;
    width: 98%;
    height: 60px;
    background: rgba(194, 202, 204, 0.53) 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
    opacity: 1;
    border-left: 5px solid #585757;
    border-bottom: 1px solid #f5eeee2e;
}

.notification-message {
    line-height: 24px;
    color: #333;
}
.notification-time {
    font-size: 11px;
    color: #333;
    top: 11px;
    position: relative;
}
.main-headactivename {
padding: 5px 0px 0px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    padding-bottom: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #00CA9D;
    background-color: transparent;
    border-bottom: solid 3px #00CA9D;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-pills>li {
    float: none;
    display: inline-block;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #3D3D3D;
    font-size: 13px;
}
.nav>li>a {
    padding: 2px 15px;
}
.custom-material .bmd-form-group {
    margin-bottom: 5px !important;
}
.childsummary_profilephoto {
    position: relative;
    z-index: 1;
}
.childsummary_profilephoto #studentPhoto{
    width: 65%;
    opacity: 1;
    border: 3px solid #00CA9D;
    position: relative;
}
.childsummary_contentabox {
    position: relative;
    margin-top: -87px;
}
.childsummary_profilename {
     font: Medium 32px/20px Poppins;
    letter-spacing: 0px;
    color: #3D3D3D;
    font-size: 30px;
    position: relative;
    top: 0px;
    margin-left: -49px;
}
strong#attendance-percent {
    padding-left: 10px;
    top: 10px;
    position: relative;
}
.totalschool{
     padding-left: 10px;
    top: 15px;
    position: relative;
}
span.childsummary_age {
    font-size: 18px;
}
.childsummary_content {
    border: 1px solid #00CA9D;
    border-radius: 2px;
    opacity: 1;
    position: relative;
    margin-top: -87px;
    padding: 7px 10px;
    min-height: 275px;
}
.childsummary_report_age {
    top: 368px;
    left: 519px;
    width: 75px;
    height: 25px;
    text-align: left;
    font: Medium 18px/20px Poppins;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}
.childsummary_nisn {
  font-size:18px;
}
.childsummary_smiley {
    width: 69px;
    height: 69px;
    float: left;
    background: transparent url("../images/icons/happy.png") 0% 0% no-repeat padding-box;
    opacity: 1;
}

.smiley-img {
    width: 69px;
    height: 69px;
    float: left;
}

.childsummary_attendance {
    top: 364px;
    left: 982px;
    width: 260px;
    height: 45px;
    text-align: left;
    font: Medium 32px/20px Poppins;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}
.childsummary_absentformonth {
    top: 414px;
    left: 982px;
    width: 211px;
    height: 25px;
    text-align: left;
    font: Regular 18px/20px Poppins;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}
.childsummary_bars_green {
    height: 50px;
    background: #30C969 0% 0% no-repeat padding-box;
    opacity: 1;
    line-height: 50px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    margin-left: -12px;
        text-align: center;
}
.childsummary_bars_red {
    height: 50px;
    background: #fc2c1f 0% 0% no-repeat padding-box;
    opacity: 1;
        text-align: center;
    line-height: 50px;
    font-weight: 600;
    display: inline-block;
        position: relative;
    margin-left: -3px;
}
.childsummary_bars_yellow {
    height: 50px;
    background: #f1e50c 0% 0% no-repeat padding-box;
    opacity: 1;
        text-align: center;
    display: inline-block;
    line-height: 50px;
    font-weight: 600;
        position: relative;
    margin-left: -3px;
}
.childsummary_layout {
padding: 10px;
}
.childsummary_filters {
    top: 133px;
    left: 272px;
    width: 256px;
    height: 55px;
    opacity: 1;
}
.childsummary_filtername {
    top: 133px;
    left: 272px;
    width: 76px;
    height: 17px;
    text-align: left;
    font: SemiBold 12px/20px Poppins;
    letter-spacing: 0px;
    color: #3D3D3D;
    opacity: 1;
}
.childsummary_filterddl {
    top: 155px;
    left: 272px;
    width: 274px;
    height: 41px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    opacity: 1;
}
.yearlabel .ctsyear {
    position: relative;
    top: -19px;
    left: 10px;
}
.bmd-form-group .fa-calendar {
    margin-top: 10px;
    margin-right: 10px;
}
       .loading {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            /*background: url('../assets/images/loading.gif') 50% 50% no-repeat rgb(249, 249, 249);*/
            opacity: 1;
            
        }
.loading_inner {
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -50%);
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /*background: rgba(0,0,0,0.3);*/
    background-color: white;
}
.loading_inner img {
    margin-top: 25%;
    transform: translate(-50%, -50%);
}
ul.studentlist {
    padding-left: 25%;
    font-size: 15px;
    line-height: 33px;
  
}
ul.studentlist li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00CA9D;
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin-right: 8px;
}
span#Health {
    font-size: 16px;
    font-weight: 600;
}
.childsummary_smiley span{
    font-size:18px;
    color: #949494;
}
.nodayspresent:before{
    margin-top:20px;
    content:'';
width: 8px;display:inline-block;
height: 8px;
background: #30C969 0% 0% no-repeat padding-box;
}
.nodaysabsent:before{
       content:'';margin-top:20px;
    width: 8px;display:inline-block;
height: 8px;
background: #FFE711 0% 0% no-repeat padding-box;
}
.nodaysunknown:before{
       content:'';margin-top:20px;
    width: 8px;display:inline-block;
height: 8px;
background: #F65363 0% 0% no-repeat padding-box;
}
.nodaysunknown, .nodaysabsent, .nodayspresent{text-align:center;}
.stats a {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
}
.student-table figure.list-pic {
    width: 35px;
    height: auto !important;
    margin: 0 auto 5px;
}
a#clickPopup {
    text-decoration: underline;
    cursor:pointer;
}
div#hidecmpclass .col-md-3 {
    padding: 7px;
}
.stats a {
    cursor: pointer;
}
.m-menu_item_inner.sub-menu.col-md-13.row {
    padding-left: 15px;
}
.m-menu_item_inner.sub-menu.col-md-13.row {
    padding-left: 15px;
}

/*.dataTables_scrollHeadInner {
    visibility: collapse !important;
}*/

/*.table > thead:first-child > tr:first-child > th {
    visibility : visible !important;
}*/

/*#dataTableAttendance > thead {
    display : block;
}*/

#dataTableAttendance{
    width : 100% !important;

}

/*.dataTables_scrollHeadInner table thead tr {
    visibility: collapse !important;
}

.dataTables_scrollBody table thead tr {
    visibility: visible !important;
}

.dataTables_scrollBody > table > thead > tr {
    visibility: visible;
}*/

/*div.dataTables_scrollHeadInner thead {
    display: none;
}
div.dataTables_scrollBody thead {
    visibility: visible;
}*/

/*.dataTables_scrollHeadInner table thead tr {
    visibility: collapse !important;
}
.dataTables_scrollBody table thead tr {
    visibility: visible !important;
}*/
span.numberofstd {
    position: relative;
    font-size: 15px;
    top: -5px;
    display: block;
}
.mr-abs {
    position: relative;
    top: -10px;
}

.lg-sum li {
    width: 45%;
    font-size: 13px;
}


ul.list-inline {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

    ul.list-inline label {
        color: #00ca9d;
        /* padding-bottom: 10px; */
        display: block;
        padding-left: 10px;
    }
    /*#dataTableAttendance_wrapper .dataTables_scrollBody{
        width:101% !important;
    }*/
    .page-content .row:first-child{margin-right:-15px;}
   .content-wrapper .row:first-child{margin-right:inherit;}

#hideAll {
    background-color: white;
    
    z-index: 9999;
}

.bg-loader {
    background-color: #fff;
    width : 100%;
    height : 100%;
    display : block;
}

.user-tbl figure.list-pic {
    width: 35px !important;
    height: auto !important;
    margin: 0 auto 5px !important;
}