﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="WalikuWebSite.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head id="Head1" runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %></title>

    <asp:PlaceHolder ID="PlaceHolder1" runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <meta name="description" content="Free Admin Template Based On Twitter Bootstrap 3.x">
    <meta name="author" content="">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="img/metis-tile.png" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/animate.min.css" />
  <link rel="stylesheet" href="css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="css/theme.css" />
  <link rel="stylesheet" href="css/style.css?14" />
  <link rel="stylesheet" href="css/custom.css" />    
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.6/css/fixedColumns.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
     <script> 
        var CurrentCulture = '<%=DefaultLanguage %>' 

        function googleTranslateElementInit() {
            if (CurrentCulture == 'id')
                setCookie('googtrans', '/en/id', { expires: 0 });
            else
               // eraseCookie('googtrans');
                 setCookie('googtrans', '/id/en', { expires: 0 });
            $.when(
                new google.translate.TranslateElement({
                    pageLanguage: 'en', //CurrentCulture //
                    includedLanguages: 'id,en',
                 //   CurrentCulture: CurrentCulture, // 'id',
                    multilanguagePage: false,
                     autoDisplay: true,
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                }, 'google_translate_element')
            ).done(function () {
           

            });

         }
                 
         /////

         var GlobalResources = {
             "Lbl_Page_Showing":'<%=Resources.Resource.Lbl_Page_Showing %>',
             "Lbl_Page_To":'<%=Resources.Resource.Lbl_Page_To %>',
             "Lbl_Page_Of":'<%=Resources.Resource.Lbl_Page_Of %>',
             "Lbl_Page_Entries":'<%=Resources.Resource.Lbl_Page_Entries %>',
              "Lbl_Page_First":'<%=Resources.Resource.Lbl_Page_First %>',
              "Lbl_Page_Next":'<%=Resources.Resource.Lbl_Page_Next %>',
              "Lbl_Page_Previous":'<%=Resources.Resource.Lbl_Page_Previous %>',
              "Lbl_Page_Last":'<%=Resources.Resource.Lbl_Page_Last %>',
              "Lbl_Page":'<%=Resources.Resource.Lbl_Page %>',
              "Lbl_No_Record":'<%=Resources.Resource.Lbl_No_Record %>',
              "Lbl_Search":'<%=Resources.Resource.Lbl_Search %>',
              "Lbl_No_Data":'<%=Resources.Resource.Lbl_No_Data %>',
             "AlrtDeleteConfirm": '<%=Resources.Resource.Alrt_ConfirmDelete %>',
             "Lbl_SerialNo": '<%=Resources.Resource.Lbl_SerialNo %>',
             "Lbl_Percentage": '<%=Resources.Resource.Lbl_Percentage %>',
             "Lbl_Female": '<%=Resources.Resource.Lbl_Female %>',
             "Lbl_Male": '<%=Resources.Resource.Lbl_Male %>',
             "Female": '<%=Resources.Resource.Lbl_Female %>',
             "Male": '<%=Resources.Resource.Lbl_Male %>',
              "Girl": '<%=Resources.Resource.Lbl_Girl %>',
             "Boy": '<%=Resources.Resource.Lbl_Boy %>'
         }

        
</script>

<body class="sidebar-is-expanded">
    <form id="Form1" runat="server">
       <div class="loaderDiv" style="display:none;">
           <i class="fa fa-spinner fa-spin" style="font-size:80px"></i>
       </div>
        <div class="bg-dark dk" id="wrap">
            <header class="l-header">
                <div class="l-header_inner clearfix">
                    <div class="m-header-icon js-hamburger">
                        <div class="hamburger-toggle" id="hamburgerToggle" runat="server">
                            <span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span>
                        </div>
                    </div>
                    <% if (uType == 2 || uType == 1) 
                    { %>
                    <div  id="DivSchoolname" runat="server">
                    <%--<span class="bar-top"></span><asp:Label Text="School Name :" ID="lblSchoolName" ForeColor="White" runat="server"></asp:Label>--%>
                        <span class="school-name"  style="color:white" ></span>
                       <%-- <span class="bar-mid"></span><span class="bar-bot"></span>--%>
                    </div>
                    <% } %>

                    <div class="header-icons-group">
                        <div id="google_translate_element" style="display:none"></div> 
                       <div class="m-header-icon">
                            <a href="#" class="dropdown-toggle divNotifications" data-toggle="dropdown">
                                <div class="bellicon">
                                    <img runat="server" src="images/icons/bellicon.svg" id="Img2"></div>
                                    <span class="notification-count" id="notify-count"></span>
                            </a>
                           <div class="col-md-2 notification-panel" style="display:none;">
                            <ul  role="menu" class="notification-ul">
                                <%--<li class="read"><span class=" col-md-8 notification-message">This is a Test Message</span>
                                    <span class=" col-md-8 notification-time">2W</span>
                                </li>--%>
                            </ul>
                               </div>
                        </div>
                        <div class="m-header-icon login">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="user-img">
                                    <img runat="server" src="images/user.png" id="userImage"></span>
                                <span id="h5UserName" runat="server"></span>&nbsp;<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="logoutUser();"><%=Resources.Resource.Lbl_Logout %></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /#top -->
            <div class="l-sidebar">
                <div class="logo">
                    <div class="logo_txt">
                        <img src="images/logo.png" alt="Waliku logo">
                        <span class="m-menu-item_title"><span id="SiteName">Waliku</span></span>
                    </div>
                </div>
                <div class="l-sidebar_content custom-scroll">
                    <nav class="m-menu js-menu">
                        <ul class="u-list">
                            <li id="liSchoolManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem"  title="<%=Resources.Resource.Menu_SchoolManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_school"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_SchoolManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                           <a class="col-md-3" title="<%=Resources.Resource.Menu_ViewAcademicYears %>" href="AcademicYears.aspx"><div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ViewAcademicYears%></span></div></a>
                                    </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                <a class="col-md-3" title="<%=Resources.Resource.Menu_ImportData %>" href="ImportStudentData.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ImportData%></span></div></a>
                                </div>
                               <%-- <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <a class="col-md-3" title="<%=Resources.Resource.Menu_ExportData %>" href="ExportStudentData.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ExportData%></span></div></a>
                                </div>--%>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;"  runat="server" id="divaddschool" >
                                       <a class="col-md-3" title="<%=Resources.Resource.Title_SchoolManagement %>" 
                                           href="SchoolManagement.aspx"> <div class="m-menu-item_title">
                                               <span><%=Resources.Resource.Title_SchoolManagement%></span>

                                                                          </div></a>
                                </div>
                            </li>
                            <li id="liAcademicTermDetails" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" title="<%=Resources.Resource.Menu_AcademicYearSetUp %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_academic"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AcademicYearSetUp %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;" 
                                   runat="server" id="diveditclass" >
                                           <a class="col-md-3" title="<%=Resources.Resource.Menu_AddEditClass %>" href="ClassManagement.aspx">
                                               <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AddEditClass%></span></div></a>
                                    </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <a class="col-md-3" title="<%=Resources.Resource.Menu_AddEditUser %>" href="UserManagement.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AddEditUser%></span></div></a>
                                </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                <a class="col-md-3" title="<%=Resources.Resource.Menu_AddEditStudent %>" href="ChildrenManagement.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AddEditStudent%></span></div></a>
                                </div>
                                 <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;" 
                                     runat="server" id="divassignadmin">
                                           <a class="col-md-3" href="AssignAdmin.aspx" 
                                               title="<%=Resources.Resource.Menu_AssignAdmin %>" >
                                              <div class="m-menu-item_title">
                                                  <span><%=Resources.Resource.Menu_AssignAdmin%></span></div></a>
                                    </div>
                                  <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;" runat="server" id="divassignmbllogin">
                                <a class="col-md-3" title="<%=Resources.Resource.Menu_AssignMobileLogin %>" href="ClassTeacherManagement.aspx"> 
                                    <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AssignMobileLogin%></span></div></a>
                                </div>

                                <%--<div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;" runat="server" id="divassignmbllogin">
                                <a class="col-md-3" title="<%=Resources.Resource.Menu_AssignMobileLogin%>" href="ClassTeacherManagement.aspx"> 
                                    <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AssignMobileLogin%></span></div></a>
                                </div>--%>

                            </li>

                            <li id="liDashBoard" runat="server"  class = "m-menu_item has-submenu" >
                           
                                <a class="sidebar-menuitem" title="<%=Resources.Resource.Menu_Report %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_report"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_Report %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                <div class="m-menu_item_inner sub-menu active" style="display:none;">
                                       <a class="col-md-3 "    href="Report-schoolsummary.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_SchoolSummary%></span></div></a>
                                </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row"  style="display:none;">
                                       <%--<a class="col-md-3 "   href="Default.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_CompareClasses%></span></div></a>--%>
                                <a class="col-md-3 "   href="Report-CompareClasses.aspx"> <div class="m-menu-item_title">
                                           <span><%=Resources.Resource.Menu_CompareClasses%></span></div></a>
                                
                                </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <%--<a class="col-md-3 "   href="Default.aspx" > <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_IndividualClass%></span></div></a>--%>
                                       <a class="col-md-3 "   href="Reports-IndClassSummary.aspx" > <div class="m-menu-item_title">
                                           <span><%=Resources.Resource.Menu_IndividualClass%></span></div></a>
                                
                                </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <a class="col-md-3 " href="Report-IndChildSummary.aspx"> <div class="m-menu-item_title">
                                           <span><%=Resources.Resource.Menu_IndividualChild%></span></div></a>
                                </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <a class="col-md-3 "  href="Report-StaffSummary.aspx" > 
                                           <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_StaffSummary%></span></div></a>
                                </div>
                               <%-- <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;" runat="server" id="divTrackStudent">
                                       <a class="col-md-3 "  href="Report-TrackStudents.aspx" > <div class="m-menu-item_title">
                                           <span><%=Resources.Resource.Menu_AddedDeletedstudents%></span></div></a>
                                </div>--%>
                            </li>
                            <li id="liAdminOperations" runat="server" class="m-menu_item has-submenu" style="display:none">
                                <a class="sidebar-menuitem"  title="<%=Resources.Resource.AdminOperations%>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_configure_student"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.AdminOperations %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                 <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                           <a class="col-md-3" href="AdminOperations.aspx" title="<%=Resources.Resource.Menu_AddEditStudent %>" href="AdminOperations.aspx"><div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AddEditStudent%></span></div></a>
                                    </div>

                                <div runat="server" id="DeleteInactiveStudents" class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                           <a class="col-md-3" href="InactiveStudents.aspx" title="<%=Resources.Resource.Menu_InactiveStudents %>" href="AdminOperations.aspx"><div class="m-menu-item_title"><span><%=Resources.Resource.Menu_InactiveStudents%></span></div></a>
                                    </div>
                            </li>
                            <li id="liAcademicCalendar" runat="server"  class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem"  title="<%=Resources.Resource.Menu_AcademicCalendar%>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_calendar"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AcademicCalendar %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                           <a class="col-md-3" title="<%=Resources.Resource.Menu_ViewCalendar %>" href="SchoolAcademicCalendarNew.aspx"><div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ViewCalendar%></span></div></a>
                                    </div>
                                     <div class="m-menu_item_inner sub-menu col-md-13 row" 
                                         style="display:none;" runat="server" id="divconweekdays" >
                                       <a class="col-md-3" title="<%=Resources.Resource.Menu_ConfigureWeekdays %>" 
                                           href="CalendarConfigureWeekdays.aspx"> <div class="m-menu-item_title"><span>
                                               <%=Resources.Resource.Menu_ConfigureWeekdays%></span></div></a>
                                         </div>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" 
                                         style="display:none;" runat="server" id="divholidays" >
                                       <a class="col-md-3" title="<%=Resources.Resource.Menu_Addholidays %>" 
                                           href="AddHolidays.aspx"> <div class="m-menu-item_title"><span>
                                               <%=Resources.Resource.Menu_Addholidays%></span></div></a>
                                         </div>
                            </li>
                             <li id="liReasonManagement" runat="server" class="m-menu_item has-submenu ">
                                <a class="sidebar-menuitem" href="ReasonManagement.aspx" title="<%=Resources.Resource.Menu_ReasonManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_reason"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ReasonManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                             <li id="liFeedback" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="Feedback.aspx" title="<%=Resources.Resource.Menu_FeedbackManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_feedback"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_FeedbackManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liFirstAid" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="FirstAid.aspx" title="<%=Resources.Resource.Menu_FirstAid %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_firstAid"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_FirstAid %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>


                          <%--  <li id="liUserManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="UserManagement.aspx" title="<%=Resources.Resource.Menu_UserManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_user"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_UserManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liReasonManagement" runat="server" class="m-menu_item has-submenu ">
                                <a class="sidebar-menuitem" href="ReasonManagement.aspx" title="<%=Resources.Resource.Menu_ReasonManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_reason"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ReasonManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liClassManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="ClassManagement.aspx" title="<%=Resources.Resource.Menu_ClassManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_class"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_ClassManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liClassTeacherManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="ClassTeacherManagement.aspx" title="<%=Resources.Resource.Menu_AssignTeacher %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_assignTeacher"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AssignTeacher %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liAssignAdmin" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="AssignAdmin.aspx" title="<%=Resources.Resource.Menu_AssignAdmin %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_assignAdmin"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AssignAdmin %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liAbsenceManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="AbsenceManagement.aspx" title="<%=Resources.Resource.Menu_AbsenceManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_absence"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AbsenceManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>--%>
                             <li id="liStaffAttendance" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem"  title="<%=Resources.Resource.Menu_StaffAttendance%>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_staffattendance"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_StaffAttendance%></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                                <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                           <a class="col-md-3" title="<%=Resources.Resource.Menu_StaffAttendance %>" href="TeacherAttendance.aspx"><div class="m-menu-item_title"><span><%=Resources.Resource.Menu_StaffAttendance%></span></div></a>
                                    </div>
                                     <div class="m-menu_item_inner sub-menu col-md-13 row" style="display:none;">
                                       <a class="col-md-3" title="<%=Resources.Resource.Menu_AssignSubstitute %>" href="TeacherAssignSubstitute.aspx"> <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_AssignSubstitute%></span></div></a>
                                         </div>
                            </li>
                       <%--     
                            <li id="liFeedback" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="Feedback.aspx" title="<%=Resources.Resource.Menu_FeedbackManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_feedback"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_FeedbackManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liFirstAid" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="FirstAid.aspx" title="<%=Resources.Resource.Menu_FirstAid %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_firstAid"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_FirstAid %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>

                             <li id="liAcademicManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="AcademicManagement.aspx" title="<%=Resources.Resource.Menu_HolidayManagement %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_holidaymgmt"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_HolidayManagement %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>
                            <li id="liMapsReportManagement" runat="server" class="m-menu_item has-submenu">
                                <a class="sidebar-menuitem" href="MapOverView.aspx" title="<%=Resources.Resource.Menu_MapOverview %>">
                                    <div class="m-menu_item_inner">
                                        <span class="left-icon i_mapView"></span>
                                        <div class="m-menu-item_title"><span><%=Resources.Resource.Menu_MapOverview %></span></div>
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </div>
                                </a>
                            </li>--%>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /#left -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
              <script>document.write("<script type='text/javascript' src='Scripts/Settings.js?v=" + Math.random() + "'><\/script>");</script>
           <script>document.write("<script type='text/javascript' src='Scripts/Common.js?v=" + Math.random() + "'><\/script>");</script>

            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>

        </div>
    </form>

    <script type="text/javascript">
        var delete_cookie = function (name) {
            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        };
        function logoutUser() {
            delete_cookie('UserInfo');
            window.location = "login.aspx";
        }

    </script>

</body>

<!-- <script src="js/jquery.min.js"></script> -->
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/jquery-ui.js"></script> -->
<script src="js/popper.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/bootstrap-material-design.js"></script>
 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

<script>
    "use strict";

    var Dashboard = (function () {
        var global = {
            tooltipOptions: {
                placement: "right"
            },
            menuClass: ".m-menu"
        };

        var actclass = false;
        //debugger;
        //if (window.location.pathname == '/Report-IndChildSummary' || window.location.pathname == '/Report-IndChildSummary.aspx') {
        //    actclass = true;
        //}
        //else {
        //    actclass = false;
        //}
        //return false;


        var menuChangeActive = function menuChangeActive(el) {
            var hasSubmenu = $(el).hasClass("has-submenu");
            $(global.menuClass + " .is-active").removeClass("is-active");
            debugger;
             if (window.location.pathname == '/Report-IndChildSummary' || window.location.pathname == '/Report-IndChildSummary.aspx') {
                 actclass = true;
                 $(el).addClass("is-active");
        }
        else {
                 actclass = false;
                 $(el).removeClass("is-active");
        }
            //$(el).addClass("is-active");
        
            // if (hasSubmenu) {
            // 	$(el).find("ul").slideDown();
            // }
        };


        //var showhide = function showhide(el) 
        //{  
        //    var div = document.getElementById("divholidays");  
        //    debugger;
        //    //if (div.style.display == "none") {  
        //    //    div.style.display = "none";  
        //    //}  
        //    //else {  
        //        div.style.display = "flex";  
        //    //}  

            
        //} 

        var sidebarChangeWidth = function sidebarChangeWidth() {
            var $menuItemsTitle = $("li .menu-item_title");

            $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
            $(".hamburger-toggle").toggleClass("is-opened");
            // document.cookie = "Menu="+$("body").attr('class');

            if ($("body").hasClass("sidebar-is-expanded")) {
                $('[data-toggle="tooltip"]').tooltip("destroy");
            } else {
                $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
            }
        };

        return {
            init: function init() {
                $(".js-hamburger").on("click", sidebarChangeWidth);

                $(".js-menu li").on("click", function (e) {
                    menuChangeActive(e.currentTarget);
                   
                });

                $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
            }
        };
    })();

    Dashboard.init();
    
</script>


<script type="text/javascript">
    var delete_cookie = function (name) {
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    };
    function logoutUser() {
        delete_cookie('UserInfo');
        window.location = "login.aspx";
    }
    
    
</script>
<%--<script type="text/javascript" async="async" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>--%>

</html>
